<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/3-hbnb.js?{{ cache_id }}"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div id="api_status"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for state in states %}
	      <li>
		<h2>{{ state[0].name }}:</h2>
		<ul>
		  {% for city in state[1] %}
		  <li>{{ city.name }}</li>
		  {% endfor %}
		</ul>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
			<li><input type="checkbox" data-id="1" data-name="24-hour check-in" style="margin-right: 20px;">24-hour check-in</li>
			<li><input type="checkbox" data-id="2" data-name="Air-conditioning" style="margin-right: 20px;">Air-conditioning</li>
			<li><input type="checkbox" data-id="3" data-name="Breakfast" style="margin-right: 20px;">Breakfast</li>
			<li><input type="checkbox" data-id="4" data-name="Buzzer/wireless intercom" style="margin-right: 20px;">Buzzer/wireless intercom</li>
			<li><input type="checkbox" data-id="5" data-name="Cable TV" style="margin-right: 20px;">Cable TV</li>
			<li><input type="checkbox" data-id="6" data-name="Carbon monoxide detector" style="margin-right: 20px;">Carbon monoxide detector</li>
			<li><input type="checkbox" data-id="7" data-name="Cat(s)" style="margin-right: 20px;">Cat(s)</li>
			<li><input type="checkbox" data-id="8" data-name="Dog(s)" style="margin-right: 20px;">Dog(s)</li>
			<li><input type="checkbox" data-id="9" data-name="Doorman" style="margin-right: 20px;">Doorman</li>
		</ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>
      <div class="placesh1">
		<h1>Places</h1>
	</div>
      <section class="places">
	<!-- <h1>Places</h1> -->
	{% for place in places %}
		{% endfor %}
	</section>
	</div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
